---
menu: Anlasssponsor:innen
heading: Anlasssponsor:innen
order: 45
key: asp
sp:
    - title: Patronat, KM-Sponsor, Hauptsponsoren, Musiksponsoren
      class: uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m 
      data:
        - name: kiwanis
          href: https://olten.kcdb.net/
        - name: aen
          href: https://aen.ch
        - name: heuberger
          href: https://www.spitalpark.ch/klinik/heuberger-augenklinik-olten/
        - name: bobnar
          href: https://www.bobnar.ch/
        - name: migros
          href: https://aare.migros.ch/
        - name: mcdonalds
          href: https://www.instagram.com/mcdonalds_mittelland/
        - name: op
          href: https://oetiker.ch
        - name: raiffeisen
          href: https://raiffeisen.ch
        - name: suva
          href: https://suva.ch
          marg: 20
        - name: tro
          href: https://www.tro-verwaltungen.ch/
        - name: kinokoni
          href: https://kinokoni.ch
          marg: 20
#       - name: pallaskliniken
#         href: https://www.pallas-kliniken.ch
#         marg: 20
#        - name: wohntraeumli
#          href: https://wohnträum.li
        - name: haertsch
          href: https://garage-haertsch.ch
        - name: jaeggi
          href: https://www.holzbaujaeggi.ch

        
    - title: Medienpartner
      class: uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m 
      data:
        - name: oltnertagblatt
          href: https://oltner-tagblatt.ch

    - title: Mobilitätspartner
      class: uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m 
      data:
        - name: bogg
          href: https://bogg.ch
          marg: 0
          
    - title: Infrastruktur, Material, Dienstleistungen
      class: uk-child-width-1-3 uk-child-width-1-5@s uk-child-width-1-6@m
      data:
        - name: archiwork
          href: https://archiwork.ch
        - name: event-one
          href: https://event-one.ch
        - name: furrer
          href: https://www.furrergmbh.ch/
        - name: fischer
          href: https://dfischer.ch
        - name: grogg
          href: https://cafegrogg.ch
        - name: anzeiger
          href: https://anzeigertgo.ch/
        - name: dietschi
          href: https://www.dietschi-pd.ch/
        - name: bussmann
          href: https://bussmann-frey.ch
        - name: zfr
          href: https://zeitfreiraum.ch
#       - name: marti
#         href: https://marti-ag.com
        - name: samariterverein-dulliken
          href: https://www.samariterverein-dulliken.ch
#       - name: roomdesign
#         href: https://roomdesign.ch
        - name: strabag
          href: https://strabag.ch
        - name: move
          href: https://www.physiotherapiemove.ch
        - name: mueues
          href: https://mueues.ch
        - name: horyzon
          href: https://horyzon.ch
        - name: wop
          href: https://wop-shop.ch
#       - name: gfvo
#         href: https://www.gfvo.ch/
        - name: olten
          href: https://olten.ch
        - name: pino
          href: https://www.pinobeck.ch
        - name: eptinger
          href: https://www.eptinger.ch
        - name: zweifel
          href: https://www.zweifel.ch
#        - name: collectors
#          href: https://collectors-olten.ch/
#        - name: hug
#          href: https://hug-familie.ch/


---
{% for sec in page.sp %}
<div class="uk-text-large uk-margin-medium-bottom uk-margin-large-top">{{sec.title}}</div>
<div class="uk-flex uk-flex-center {{sec.class}} uk-grid-large" uk-grid>
    {% for sp in sec.data %}
    {% capture svg %}
    {% include_relative 
        {{ sp.name | prepend: "logos/" | append: ".svg" }}
     %}
    {% endcapture %}
    {% assign svgsplit = svg | split: '<svg' %}
    {% assign svgpart = svgsplit[1] | prepend: "<svg " | base64_encode %}
    {% assign marg = sp.marg | default: 7 %}
    <div class=""><a href="{{sp.href}}" target="_{{sp.name}}">
        <div class="uk-background-contain uk-panel uk-flex uk-flex-center uk-flex-middle"
        style="margin: {{marg}}%; background-image: url(data:image/svg+xml;base64,{{svgpart}});">
            <canvas style="width: 100%;" width="300" height="200"></canvas>
        </div></a>
    </div>
  {% endfor %}
</div>
{% endfor %}
