<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/uikit.css?2025">
    <link rel="stylesheet" href="assets/css/custom.css?2025">
    <meta property="og:locale" content="de_CH">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Oltner 2-Stunden-Lauf">
    <meta property="og:description" content="Der Oltner 2-Stunden-Lauf ist ein Sponsorenlauf, bei dem es darum geht, zur Finanzierung von Non-Profit-Projekten beizugtragen. Jedes Jahr wählt das Lauf-OK ein lokales und ein internationales Projekt aus, das mit einem respektive zwei Dritteln des Erlöses unterstützt wird.">
    <meta property="og:url" content="https://o2h.ch/">
    <meta property="og:site_name" content="Oltner 2-Stunden-Lauf">
    <script src="assets/js/uikit.min.js" defer></script>
    <script src="assets/js/uikit-icons.min.js" defer></script>
    <title>Oltner 2-Stunden-Lauf</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">

</head>