<nav class="uk-navbar-container uk-background-muted" 
    uk-navbar uk-sticky="top: 80vh;animation: uk-animation-slide-top;">
    <div class="uk-navbar-left uk-visible@m">
        <ul class="uk-navbar-nav">
            <li><a href="#"><img src="assets/img/logo.svg"></a></li>
        </ul>
    </div>
    <div class="uk-navbar-center">
        <div class="uk-navbar-item uk-visible@m">Anmeldung</div>
        <div class="uk-navbar-item"><a class="uk-button uk-button-primary" href="/o2h#lang=de">Laufen</a></div>
        <div class="uk-navbar-item"><a class="uk-button uk-button-secondary" href="https://forms.gle/ST7jzaNvztTeUmdJ8">Helfen</a></div>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            {% for item in site.homepage_sections %}
                {% if item.navbar == true %}
                <li class="uk-visible@s"><a 
                    href="#{% if item.key %}{{item.key}}{% else %}item{{ forloop.index }}{% endif %}"
                    {% if item.toggle %}uk-toggle{% else %}uk-scroll="offset: 50;"{% endif %}>
                    {{ item.menu }}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="#" class="uk-navbar-toggle uk-margin-right" uk-toggle="target: #offcanvas-reveal" uk-navbar-toggle-icon></a></li>
        </ul>
    </div>
</nav>
<div id="offcanvas-reveal" uk-offcanvas="mode: slide; overlay: false; flip: 
true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
            {% for item in site.homepage_sections %}
            {% if item.menu %}
            <li><a class="uk-link-text"
                {% if item.toggle %}
                    href="#"
                    uk-toggle="target: #{{item.key}};"
                {% else %}
                    href="#{% if item.key %}{{item.key}}{% else %}item{{ forloop.index }}{% endif %}"
                    uk-scroll="offset: 50;"
                    uk-toggle="target: #offcanvas-reveal;"
                {% endif %}
                >{{ item.menu }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
   </div>
</div>
<div id="title-page">
    <div>
    <img src="assets/img/homepage.svg"/>
    {% raw %}
    <div class="webData uk-text-large uk-margin-large-bottom"><a href="#tn-modal" uk-toggle>{{meta.parts}} sind angemeldet</a></div>
    {% endraw %}
    <!-- <div class="uk-flex uk-flex-center"><div class="uk-card uk-card-default uk-card-body uk-text-large uk-background-muted uk-width-2-3@m uk-width-1-1@s uk-width-2-4@s">
        Die <a target="_blank" href="https://pallas-kliniken.ch">Pallas Kliniken</a>
        sponsern jede:n Teilnehmer:in in den Kategorien Laufen und Walken mit 1 CHF/km.
    </div> -->
</div>
</div>

<script>
    let NavHash = window.location.hash;
    window.location.hash = '';
    document.addEventListener("DOMContentLoaded", event => {

        let wlh = UIkit.util.$(NavHash);
        if (wlh) {
            if (wlh.id == 'tn-modal' || wlh.id == 'bericht-modal') {
                UIkit.modal(wlh).show();
            }
            else {
                setTimeout(() => {
                    console.log('scrolling',wlh);
                    UIkit.scroll(NavHash,{
                        offset: 100
                    }).scrollTo(NavHash);
                }, 500);
            }
        }
    });
</script>