<nav class="uk-navbar-container uk-background-muted" 
    uk-navbar uk-sticky="top: 80vh;animation: uk-animation-slide-top;">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="#"><img src="assets/img/logo.svg"></a></li>
        </ul>
    </div>
    <div class="uk-navbar-center">
        <div class="uk-navbar-item"><a class="uk-button uk-button-primary" href="/o2h#lang=de">Anmeldung</a></li>
        </div>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            {% for item in site.homepage_sections %}
                {% if item.navbar == true %}
                <li class="uk-visible@s"><a 
                    href="#{% if item.key %}{{item.key}}{% else %}item{{ forloop.index }}{% endif %}"
                    {% if item.toggle %}uk-toggle{% else %}uk-scroll="offset: 50;"{% endif %}>
                    {{ item.menu }}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="#" class="uk-navbar-toggle" uk-toggle="target: #offcanvas-reveal" uk-navbar-toggle-icon></a> </li>
        </ul>
    </div>
</nav>
<div id="offcanvas-reveal" uk-offcanvas="mode: slide; overlay: false; flip: 
true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
            {% for item in site.homepage_sections %}
            {% if item.menu %}
            <li><a class="uk-link-text"
                {% if item.toggle %}
                    href="#"
                    uk-toggle="target: #{{item.key}};"
                {% else %}
                    href="#{% if item.key %}{{item.key}}{% else %}item{{ forloop.index }}{% endif %}"
                    uk-scroll="offset: 50;"
                    uk-toggle="target: #offcanvas-reveal;"
                {% endif %}
                >{{ item.menu }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
   </div>
</div>
<div id="title-page">
    <div>
    <img src="assets/img/homepage.svg"/>
    {% raw %}
    <div class="webData uk-text-large">{{meta.parts}}&#8239;TN – {{meta.fix}}&#8239;CHF – {{meta.pkm}}&#8239;CHF/KM</div>
    {% endraw %}
    <a href="#item1" class="scroll-down-link scroll-down-arrow" uk-scroll="offset: 90;"></a>
    </div>
</div>

<script>
    UIkit.util.ready(() => {
        if (window.location.hash) {
            UIkit.util.scrollIntoView(UIkit.util.$(window.location.hash),{
                offset: 50
            });
        }
    });
</script>