---
--- 
@import "variables-theme.scss";

footer a {
    color: #fff;
}

footer {
    background-color: #0045b3;
    width: 100%;
    float: left;
}

.sh-hyphen {
    hyphens: auto;
}

.uk-navbar-container {
    .uk-navbar-left img {
        width: 6.5ex;
    }
}

.uk-offcanvas-bar {
    box-shadow: 0px 0px 20px 16px #0000000d;
}

#title-page {
    display: flex;
    justify-content: center;
    //align-items: center;
    height: 100vh;
    text-align: center;
    color: $base-heading-color;

    img {
        padding-top: 7vh;
        padding-bottom: 13vh;
        max-height: 65vh;
        max-width: 80vw;
        width: 100vw;
    }

    .scroll-down-arrow {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJibGFjayIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
        background-size: contain;
        background-repeat: no-repeat;
        color: #000;
    }

    

    .scroll-down-link {
        cursor: pointer;
        height: 60px;
        width: 80px;
        margin: 0px 0 0 -40px;
        line-height: 60px;
        position: absolute;
        left: 50%;
        bottom: 20px;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 70px;
        z-index: 100;
        text-decoration: none;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

        animation: fade_move_down 2s ease-in-out infinite;
    }


    /*animated scroll arrow animation*/
    @keyframes fade_move_down {
        0% {
            transform: translate(0, -20px);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: translate(0, 20px);
            opacity: 0;
        }
    }

}

.keep-together, 
.uk-list li {
    break-inside: avoid-column;
}

.uk-navbar-container.uk-sticky.uk-active img {
    max-width: 9em;
}

.part {
    .sponsor {
        bottom: 1ex;
        right: 1ex;
        position: absolute;
    }
}
